# Ignorar executaveis do Linux e Windows
healkristin
failure_1.c
*.exe
*.out
*.o
*.map
*.position
*.quests
*.results
*.txt
*.xlsx

# Ignorar pastas de sistema
.vscode/
projeto/build/
projeto/.vscode/
projeto/BabyOnes/
