# Ignorar executaveis do Linux e Windows
healkristin
*.exe
*.out
*.o
*.map
*.position
*.quests
*.results
*.txt
*.xlsx
*.pdf

# Ignorar pastas de sistema
.vscode/
projeto/build/
projeto/.vscode/
projeto/BabyOnes/
projeto/build_compare/
